<h1></h1>
<form method="POST" action="/new">
  <label for="user">
    User:
    <input type="text" id="user" name="user" />
  </label>
  
  <textarea cols="30" rows="15" id="text" name="text"></textarea>

  <button type="submit">SUBMIT</button>
</form>
